{% extends "base.html" %}

{% block content %}
    <h1>Logga in</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
        <p>
        Glömt ditt lösenord?
        <a href="{{ url_for('auth.reset_password_request') }}">Klicka här för att återställa det</a>
    </p>
        <p>Är du en ny användare? <a href="{{ url_for('auth.register') }}">Klicka här för att registrera dig!</a></p>
    </form>

{% endblock %}
